In [1]:
import numpy as np
import pandas as pd
#lgb 
df1 = pd.read_csv('y_train_pred.csv')
df2 = pd.read_csv('x_train_index.csv')
df3 = pd.read_csv('y_train.csv')
df4 = pd.read_csv('x_test_index.csv')
df5 = pd.read_csv('y_valid_pred.csv')
df6 = pd.read_csv('y_valid.csv')

In [2]:
df1.head()

   y_train_pred
0     10.120645
1     21.540925
2      5.078764
3     12.301785
4      5.510531

In [3]:
df2.head()

   x_train_index
0       14611500
1       17487658
2        1824143
3       10655711
4       15162204

In [4]:
df3.head()

   y_train
0     10.0
1     18.5
2      5.3
3     14.0
4      5.3

In [5]:
print df1.shape
print df2.shape
print df3.shape

(19404086, 1)
(19404086, 1)
(19404086, 1)

In [6]:
df1['y_train']=df3['y_train']

In [7]:
df1['index']=df2['x_train_index']

In [8]:
df1.columns=['y_pred_lgb', 'y', 'index']

In [9]:
df1.head()

   y_pred_lgb     y     index
0   10.120645  10.0  14611500
1   21.540925  18.5  17487658
2    5.078764   5.3   1824143
3   12.301785  14.0  10655711
4    5.510531   5.3  15162204

In [10]:
df4.head()

   x_test_index
0       4495592
1       5548600
2      18110073
3      10135264
4      14222828

In [11]:
df5.head()

   y_valid_pred
0     10.265043
1     11.625460
2     11.154278
3      9.975368
4      7.048316

In [12]:
df6.head()

   y_valid
0      9.3
1     10.9
2     19.3
3      8.5
4      6.5

In [13]:
print df4.shape
print df5.shape
print df6.shape

(2156010, 1)
(2156010, 1)
(2156010, 1)

In [14]:
df5['y_train']=df6['y_valid']

In [15]:
df5['index']=df4['x_test_index']

In [16]:
df5.head()

   y_valid_pred  y_train     index
0     10.265043      9.3   4495592
1     11.625460     10.9   5548600
2     11.154278     19.3  18110073
3      9.975368      8.5  10135264
4      7.048316      6.5  14222828

In [17]:
df5.columns=['y_pred_lgb', 'y', 'index']

In [18]:
df_train=pd.concat([df1, df5], axis = 0)

In [19]:
df_train.shape

(21560096, 3)

In [20]:
df_train.head()

   y_pred_lgb     y     index
0   10.120645  10.0  14611500
1   21.540925  18.5  17487658
2    5.078764   5.3   1824143
3   12.301785  14.0  10655711
4    5.510531   5.3  15162204

In [21]:
df_train.tail()

         y_pred_lgb      y     index
2156005   20.143976  18.90  11082944
2156006    9.643400   9.00   7739625
2156007   46.431956  49.57   9900289
2156008    5.276132   4.90   2288518
2156009   14.487016  15.50   1609233

In [22]:
#lgb
df_test_lgb=pd.read_csv('submission_22m_python.csv')

In [23]:
df_test_lgb.head()

   fare_amount                          key
0     9.824827  2015-01-27 13:08:24.0000002
1    10.820812  2015-01-27 13:08:24.0000003
2     4.404397  2011-10-08 11:53:44.0000002
3     9.403789  2012-12-01 21:12:12.0000002
4    16.531859  2012-12-01 21:12:12.0000003

In [24]:
df_test_lgb.columns=['y_pred_lgb','key']

In [25]:
#xgb
df7 = pd.read_csv('y_train_pred_xgb.csv')
df8 = pd.read_csv('x_train_index_xgb.csv')
df9 = pd.read_csv('y_train_xgb.csv')
df10 = pd.read_csv('x_test_index_xgb.csv')
df11 = pd.read_csv('y_valid_pred_xgb.csv')
df12 = pd.read_csv('y_valid_xgb.csv')

In [26]:
df7['y_train']=df9['y_train']
df7['index']=df8['x_train_index']
df7.columns=['y_pred_xgb', 'y', 'index']

In [27]:
df11['y_train']=df12['y_valid']
df11['index']=df10['x_test_index']
df11.columns=['y_pred_xgb', 'y', 'index']

In [28]:
df_train2=pd.concat([df7, df11], axis = 0)

In [29]:
df_train2.head()

   y_pred_xgb     y     index
0   10.404173  10.0  14611500
1   21.826378  18.5  17487658
2    5.181337   5.3   1824143
3   12.024927  14.0  10655711
4    5.223808   5.3  15162204

In [30]:
df_train2.shape

(21560096, 3)

In [31]:
df_train3=pd.merge(df_train2, df_train, how='left', on ='index')

In [32]:
df_train3.shape

(21560096, 5)

In [33]:
df_train3.head()

   y_pred_xgb   y_x     index  y_pred_lgb   y_y
0   10.404173  10.0  14611500   10.120645  10.0
1   21.826378  18.5  17487658   21.540925  18.5
2    5.181337   5.3   1824143    5.078764   5.3
3   12.024927  14.0  10655711   12.301785  14.0
4    5.223808   5.3  15162204    5.510531   5.3

In [34]:
#xgb
df_test_xgb=pd.read_csv('submission_22m_xgb.csv')

In [35]:
df_test_xgb.head()

   fare_amount                          key
0    10.467338  2015-01-27 13:08:24.0000002
1    11.354305  2015-01-27 13:08:24.0000003
2     4.802289  2011-10-08 11:53:44.0000002
3     8.650443  2012-12-01 21:12:12.0000002
4    16.075474  2012-12-01 21:12:12.0000003

In [36]:
df_test_xgb.columns=['y_pred_xgb','key']

In [37]:
df_test=pd.merge(df_test_xgb, df_test_lgb, how='left', on ='key')

In [38]:
df_test.head()

   y_pred_xgb                          key  y_pred_lgb
0   10.467338  2015-01-27 13:08:24.0000002    9.824827
1   11.354305  2015-01-27 13:08:24.0000003   10.820812
2    4.802289  2011-10-08 11:53:44.0000002    4.404397
3    8.650443  2012-12-01 21:12:12.0000002    9.403789
4   16.075474  2012-12-01 21:12:12.0000003   16.531859

In [39]:
df_test.shape

(9914, 3)

In [40]:
X_train=df_train3[['y_pred_lgb','y_pred_xgb']]
y_train=df_train3['y_x']

In [41]:
#linear regression

In [42]:
from sklearn import linear_model
ols = linear_model.LinearRegression()
ols.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
y_stack_train_pred=ols.predict(X_train)

In [44]:
from sklearn.metrics import mean_squared_error
print('Full rmse %.6f' % mean_squared_error(y_train, y_stack_train_pred)**.5)

Full rmse 2.880603

In [45]:
X_test=df_test[['y_pred_lgb','y_pred_xgb']]

In [46]:
X_test.shape

(9914, 2)

In [47]:
X_train.shape

(21560096, 2)

In [48]:
y_stack_pred_test=ols.predict(X_test)

In [49]:
sub_df = df_test[['key']].copy()
sub_df['fare_amount'] = y_stack_pred_test
sub_df[['key', 'fare_amount']].to_csv('submission_stack_ols.csv', index= False)

In [50]:
#lasso
from sklearn.linear_model import Lasso
model3 = Lasso()
model3.fit(X_train, y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [51]:
y_train_pred_lasso = model3.predict(X_train)
print('Full rmse %.6f' % mean_squared_error(y_train, y_train_pred_lasso)**.5)

Full rmse 2.983973

In [52]:
y_test_pred_lasso = model3.predict(X_test)

In [53]:
sub_df = df_test[['key']].copy()
sub_df['fare_amount'] = y_test_pred_lasso
sub_df[['key', 'fare_amount']].to_csv('submission_stack_lasso_raw.csv', index= False)